@model MVCProje.Models.Entity.TBL_URUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="20" />
    </div>
    <br />
    <div>
        <label>Kategorisi</label>
        @Html.DropDownListFor(m=>m.TBL_KATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"});
    </div>
    <br />
    <div>
        <label>Markası</label>
        <input type="text" class="form-control" name="MARKA" required="" />
    </div>
    <br />
    <div>
        <label>Fiyatı</label>
        <input type="text" class="form-control" name="FIYAT" required="" />
    </div>
    <br />
    <div>
        <label>Stok Sayısı</label>
        <input type="text" class="form-control" name="STOK" required="" />
    </div>
    <br />
    <div>
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

